@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}


html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  float: left;

  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
  background-color: hsl(225, 100%, 94%);
  background-image: url('/images/pattern-background-desktop.svg');
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 1rem;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
}


